body {
    background-color: lightblue;
}

header {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5em;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.board {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 400px;
    padding: 10px;
    float:left;
    margin: 10px;
    border: solid;
}

.board input {
    float: right;
}

textarea {
    width: 98%;
    min-height:100px;
    resize: none;
}


header span {
    color: #c09;
    font-size: 1.3em;
}

.info-amount-of-messages {
    text-align: right;
}

.message {
    background-color: yellowgreen;
    padding: 5px;
    margin-bottom: 5px;
    overflow: auto;
    border: solid;
    border-color: darkgreen;
    text-color: grey;
}


.message footer {
    float: right;
}

.message-text {
    float: left;
    max-width: 80%;
}
