body {
  background-color: #263238;
  font-family: 'Roboto', sans-serif;

}

.drag {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.app {
  height: calc( 100% - 45px );
  overflow: auto;
  text-align: center;
}


.app-icon, .window-list span {
  float: left;
  pointer-events: none;
}

.close-button, .maximize-button, .minimize-button, .settings-button{
  width: 15px;
}


.board table {
  margin: auto;
  padding-top: 10px;
}


.gallery-pic {
 float: left;
 background-color: #B0BEC5;
 margin: 15px;
 text-align: center;
 border: solid 1px #263238;
}

.gallery-pic a {
  display: block;
}

.launcher {
  float: left;
  width: 34px;
}

.pwd {
  position: relative;
  background-color: #ECEFF1;

  margin: auto;
  border: solid 1px;
  overflow: hidden;
}

.resize-div {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -6px;
  right: -6px;
  border-right: solid 2px #607D8B;
  border-bottom: solid 2px #607D8B;
  cursor: se-resize;
}

.statusbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:20px;
  background-color: #CFD8DC;
}


.statusbar img {
  margin-left: 5px;

}

.window  {
  border: solid 1px #B0BEC5;
  position: absolute;
  background-color: #ECEFF1;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 10px 10px 5px #B0BEC5;
}

.window-list {
  background-color: #607D8B;
  height: 25px;
  width: 100%;
  text-align: center;
  color: #ECEFF1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}

.window-list:active {
  cursor: move;
}

.window-list a {
  float: right;
  width: 15px;
  height: 15px;
}

.window-list span {
  cursor: default;
  pointer-events: none;
}

.window-settings {
  background-color: #546E7A;
  display: block;
  list-style: none;
  float:left;
  border: 1px solid;
  position: absolute;
  top: 7px;
  right: 20px;
}

.window-settings li {
  text-align: left;
  margin-left: -30px;
  margin-right: 10px;
}


.window-settings li:hover {
  background-color: #78909C;
}

.result-list li {
  list-style: none;
}

.hidden {
  display: none;
}


.message-header {
  background-color: #CFD8DC;
}

.message-header p {
  display: inline;
}


.modal {
  max-width: 75%;
  max-height: 75%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: #90A4AE;
  border: 1px;
  padding-top: 10px;
}




