body {
  background-color: #263238;
  font-family: 'Roboto', sans-serif;
}

.app {
  height: calc( 100% - 45px );
  overflow: auto;
}

.app-icon, .window-list span {
  float: left;
}

.close-button {
  width: 15px;
}

.gallery-pic {
 float: left;
 background-color: #B0BEC5;
 margin: 15px;
 text-align: center;
 border: solid 1px #263238;
}

.gallery-pic a {

  display: block;
}

.launcher {
  float: left;
  width: 34px;
}

.pwd {
  position: relative;
  background-color: #ECEFF1;
  width: 1024px;
  height: 640px;
  margin: auto;
  border: solid 1px;
  overflow: hidden;
}

.resize-div {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  border-right: solid 1px;
  border-bottom: solid 1px;
  cursor: se-resize;
}

.statusbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:20px;
  background-color: #CFD8DC;
}


.statusbar img {
  margin-left: 5px;

}

.window  {
  border: solid 1px #B0BEC5;
  position: absolute;
  background-color: #ECEFF1;
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.window-list {
  background-color: #607D8B;
  height: 25px;
  width: 100%;
  text-align: center;
  color: #ECEFF1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.window-list a {
  float: right;
}

.window-list span {
  cursor: default;
}